# hidden files and folders
.*

# vscode
!.vscode/

# configuration
!.gitignore
!.gitattributes
!.editorconfig

# semver management
!.releaserc.yaml

# documentation
!.docs/

# node
node_modules/
!.eslintrc.yaml
!.eslintignore
package-lock.json

# github
!.github/

# circleci
!.circleci/

# log files
*.logs
*.log

# windows crap
Thumbs.db
